body {
    margin: 5%;
    background-image: url('../images/bg.jpg');
    color: #4f4f4f;

}

.title {
    margin-bottom: 20px;
}

.card-body {
    padding: 0;
}

.training_name {
    font: 400 22px Arial;
}

.save_button {
    margin: 0 10px 10px 0;
}

input[type=checkbox] {
    transform: scale(1.5);
}